<nav class="navbar  navbar-dark bg-primary navbar-fixed-top" style="color: white;">
  <div class="container-fluid">
    <div class="navbar-header">

{% if current_user.is_anonymous %}
{% else %}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
{% endif %}

      <a class="navbar-brand"  style="color: white;" href="{{ url_for('home') }}">Giveaway Dashboard</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
{% if current_user.is_anonymous %}
{% else %}
      <ul class="nav navbar-nav nav-hide">
       {% include 'links.html' %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: white;" href="{{ url_for('logout') }}">Logout</a></li>
     </ul>
{% endif %}
    </div>
  </div>
</nav>
